body{
    min-width: 320px;
    max-width: 750px;
    width: 10rem;
    margin: 0 auto;
    line-height: 1.5;
    font-family: Arial, Helvetica;
    background:#f2f2f2
}
a{
    text-decoration: none;
    font-size: .333333rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 超过750px，按照设置的大小来运行 */
@media screen and (min-width:750px){
    html{
        font-size: 75px!important;
    }
}
.search-content{
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 1.173333rem;
    background-color: #ffc001;

}
.classify{
    width: .586667rem;
    height: .933333rem;
    margin: .106667rem .333333rem;
    background: url(https://image2.suning.cn/uimg/cms/img/157199320847433454.png) no-repeat;
    background-size:.586667rem .933333rem;
}
.search{
    flex: 1;
    /* background-color: purple; */
}
.search input{
    width: 100%;
    height: .88rem;
    outline: none;
    border: 0;
    border-radius: .44rem;
    font-size: 25px;
    background-color: #fff2cc;
    margin-top: .133333rem;
    color: gray;
    padding-left: .733333rem;
}
.login{
    width: 1rem;
    height: .933333rem;
    margin-top: .106667rem;
    color: white;
    text-align: center;
    line-height: .933333rem;
}